<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>NewsApp</title>
	<meta name="description" content="NewsApp">
	<meta name="author" content="SDSLabs">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet/less" href="stylesheets/less/style.less">
        <script src="javascripts/js/libs/less-1.2.1.min.js"></script>
        <script type="text/javascript" src="javascripts/js/libs/jquery-1.7.1.min.js"></script>
                       <style type="text/css">
              .text-button 
                  { 
                          background-color: Transparent;                 
                          text-decoration: underline;                 
                          color: blue;
                          cursor: pointer; 
                          border:0
                  }    
        </style>
        <script type="text/javascript">
          
           $(document).ready(function(){
	 $(window).scroll(function(){
			var verticalPosition=$(window).scrollTop();
			//if(verticalPosition>50)
				//hideMainhead();
			
		 }); 
	var hideMainhead=function(){
			$('.mainHead').hide();
			$('.auxiliaryHead').fadeIn('slow');
		}
	var hideAuxiliaryhead=function(){
			$('.auxiliaryHead').hide();
			$('.mainHead').fadeIn('slow');
		}
             });   

           $(document).ready(function(){  $.ajax({ url:'/post/<%= cpage %>' , success:function(blue){ 
                 
                 //console.log($(".articles-scroll").html());
                 var contents=null;
                 for(var i=0;i<5;i++)
                 {
                 contents=null;
                 contents="<a  href='"+ "/view/" + blue[i].pid+ "' ><h1>" + blue[i].title+ "</h1></a>";
                 //contents+="<div class='fb-like' href='/view/"+ blue[i].pid + "' layout='button_count' data-send='false' data-width='450'></div>";
                 contents+="<iframe src='http://www.facebook.com/plugins/comments.php?href=http://localhost:3000/view/"+ blue[i].pid + "&permalink=1' scrolling='no' frameborder='0' style='border:none; overflow:hidden; width:130px; height:16px;' allowTransparency='true'></iframe> ";
      contents+="<p>"+blue[i].contents+"</p>"; 
      contents+="<div class='author'>by " + blue[i].author+ "  on  "+blue[i].time+"</div>"; 
      //console.log($(".articles-scroll").html());
      $(".articles-scroll").append(contents);
      } 
      } 
      });
    });
          
          $(document).ready(function(){
              
              $.ajax({url: "/islogged", success: function(data)
                            {

                                        var json= jQuery.parseJSON(data);
                                       // console.log(json[0].username);
                                        if(json[0].username==null)
                                        {
                                        $("#linkList").append("<li><a href='http://wona.co.in/blog/?page_id=21'>Submit a Story</a></li><li>Are you part of WONA? <a href='/login/nu'> Login </a> / <a href='/signup/nu'>Sign up</a></li>");
                                        }
                                        else
                                        $("#linkList").append("<li><a href='http://wona.co.in/blog/?page_id=21'>Submit a blog post to the Wona Blog</a></li><li><a href='/write'>Post an Article here!</a></li><li><a href='/logout'>Logout</a></li>");                        
                                     
                                        }});
                          });
                          
                          var slider = (function(el,time){
	var s = {
		el : el,
		time : time,
		max : el.getElementsByTagName('img').length - 1,
		curr : 0,
		i : 1,
		interval : 0
	}
	$(s.el).addClass('slider')
	s.slide = function(i){
		if(!i){
			if(s.curr == s.max)
				s.i = -1
			if(s.curr == 0)
				s.i = 1
			var i = s.i
		}
		var target = s.curr + i
		if(target < 0 || target > s.max)
			return
		var t = s.el.getElementsByTagName('img')[target]
		var child = $('.current').stop(true,true).fadeOut(function(){this.innerHTML = ""})
		$(s.el.getElementsByTagName('img')[0]).stop(true,true).animate({marginLeft : '+='+-t.offsetLeft},function(){
			s.curr = target
			var h = t.getAttribute('title')
			child.html(h).fadeIn()
		})
	}
	s.interval = setInterval(s.slide,time)
	return s
})(document.getElementById('archive-scroll'),4000)

$('.current').html(slider.el.getElementsByTagName('img')[0].getAttribute('title'))

$('.previous').click(function(){
	slider.slide(-1)
	clearInterval(slider.interval)
	slider.interval = setInterval(slider.slide,slider.time)
})

$('.next').click(function(){
	slider.slide(1)
	clearInterval(slider.interval)
	slider.interval = setInterval(slider.slide,slider.time)
})
                        </script>
	<!-- Use SimpLESS (Win/Linux/Mac) or LESS.app (Mac) to compile your .less files
	to style.css, and replace the 2 lines above by this one:

	<link rel="stylesheet/less" href="less/style.css">
	 -->

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script>window.html5 || document.write('<script src="js/libs/html5.js"><\/script>')</script>
          <![endif]-->

</head>
<div class="container">
  <body>
    <div id="fb-root"></div>
 <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=186218778127405";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>


<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<header>
	<div class="mainHead">
	<div class="logo"><h4>Logo</h4></div>
	<div class="archives">
		<h4>Archives</h4>
		<span class="controls">
			<span class="previous">Previous - </span>
			<span class="current"></span> -
			<span class="next">Next</span>
		</span>
		<div id="archive-scroll">
			<img title="December 2011" src="./images/dec-2011.jpg">
			<img title="September 2011" src="./images/sep-2011.gif">
			<img title="April 2011" src="./images/april-2011.gif">
		</div>
		
	</div>
	<!--<div class="subscribe">
		<h4>Subscribe</h4>
		<input type="email" name="email" placeholder="Enter your Email Address"><input type="submit">
	
	</div>-->
	<div class="links">
		<h4>Links</h4>
		<ul id="linkList">
			<li><a href='http://wona.co.in'>Homepage</a></li>
			<li><a href='http://facebook.com/WatchOutNewsAgency'>Facebook page</a></li>
			<li><a href='http://wona.co.in/blog'>WatchOut Blog</a></li>
		
		</ul>
	</div>
	
	<div class="clear"></div>
	</div>
	<div class="auxiliaryHead">
		Show the Navigation
	</div>
</header>

<div role="main">
	<div class="news-block">
		<h3>News</h3>
		<div class="news-scroll">
		<p>
			The Literary Section does IIT Roorkee proud! IITR was ranked 4th overall in Nihilant, the yearly quizzing fest purely for the IITs and IIMs! IIMA, IIML and IITK were ranked first, second and third respectively. Haaris Matein (IV Chem), Vishal Battula (IV EE) and Abhinav Malhotra (IV Chem) fended off tough competition from all the teams to win the Biz Quiz. In addition to this, IITR was the only team other than IIML and IIMA to qualify for the final round of all quizzes!
		</p>
		<p>
		The first edition of Nav Umang turned out to be great success, with participation from all hostels from both campuses! The overall rankings are as follows: 1. Malviya Bhawan 2. Cautley Bhawan 3. Jawahar Bhawan
		</p>
		</div>
	</div>
	<div class="articles-block">
		<h3>Articles</h3>
		<div class="articles-scroll"></div>
              </div>
                        
	<div class="auxiliary-block">
		<h3>Wona Blog</h3>
		<div class='blog-listing'>
			<ul>
				<li>Basti Live</li>
				<li>The Curse of being in Meta</li>
			</ul>
				
		</div>
		<h3>Comments</h3>
		<p>
			//To be fetched
		</p>
	</div>
	<div class="clear"></div>
</div>

<footer>
<div class="form">
          <form method="post" action='/view/older' name="pageform">
            <input type="submit" class="text-button"  name="<%= npage %>" value="Older Posts"/>
          </form>
          <form method="post" action='/view/newer'>
            <input type="submit" class="text-button" style="float:right" name="<%= ppage %>" value="Newer Posts"/>
          </form>


          </div>


<div class="footer-note">
	&copy; WatchOut News Agency
</div>
</footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>	
<script src="javascripts/js/plugins.js"></script>
</body>
</html>
