doctype 5
html(lang="en")
  head
    title="login"
  body
    h1 Log in here
    form(method='post', action='/login/', id= 'login')
      Name: input(type = 'text', name='username')
      Password: input(type='password',name='pass')
      input(type='submit', name='submit')

