doctype 5
html(lang="en")
  head
    title="login"
    script(type="text/javascript" src="javascripts/error.js")
      var error = new 
      document.write();
  body
    h1 Log in here
    form(method='post', action='/login/', id= 'login')
      Name: input(type = 'text', name='username')
      Password: input(type='password',name='pass')
      input(type='submit', name='submit')

