<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>markItUp! Universal markup editor</title>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/post.css" />
<!-- jQuery -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<!-- markItUp! -->
<script type="text/javascript" src="../public/javascripts/latest/markitup/jquery.markitup.js"></script>
<!-- markItUp! toolbar settings -->
<script type="text/javascript" src="../public/javascripts/latest/markitup/sets/default/set.js"></script>
<!-- markItUp! skin -->
<link rel="stylesheet" type="text/css" href="../public/javascripts/latest/markitup/skins/markitup/style.css" />
<!--  markItUp! toolbar skin -->
<link rel="stylesheet" type="text/css" href="../public/javascripts/latest/markitup/sets/default/style.css" />
</head>
<body>

<script type="text/javascript">

$(document).ready(function()	{
	// Add markItUp! to your textarea in one line
	// $('textarea').markItUp( { Settings }, { OptionalExtraSettings } );
	$('#markItUp').markItUp(mySettings);
	
	// You can add content from anywhere in your page
	// $.markItUp( { Settings } );	
	$('.add').click(function() {
 		$.markItUp( { 	openWith:'<opening tag>',
						closeWith:'<\/closing tag>',
						placeHolder:"New content"
					}
				);
 		return false;
	});
	
	// And you can add/remove markItUp! whenever you want
	// $(textarea).markItUpRemove();
	$('.toggle').click(function() {
		if ($("#markItUp.markItUpEditor").length === 1) {
 			$("#markItUp").markItUpRemove();
			$("span", this).text("get Editor back");
		} else {
			$('#markItUp').markItUp(mySettings);
			$("span", this).text("remove Editor");
		}
 		return false;
	});
});

</script>
<div class="container">
	<h1>Post Here</h1>
	<p>Click <a href="#" class="add">this link to insert content</a> from anywhere in the page or <a href="#" class="toggle">this one to <span>remove markItUp!</span></a></p>
<p>

<form id="postHere" method="post" action='/post'>
<textarea id="markItUp" name="contents" cols="80" rows="20">
&lt;h1&gt;Welcome!&lt;/h1&gt;
</textarea>

<input type="submit" name="post" value="post" />
</form>
</p>
=======
	<textarea id="markItUp" cols="100" rows="20">
	&lt;h4&gt;Article Title&lt;/h4&gt;
	&lt;p&gt;Post Content&lt;/p&gt;
	</textarea>
</p>
</div>

</body>
</html>
