doctype 5
html(lang="en")
  head
    title="Sign up form"
  body
    h1 Sign up here
    form(method='post', action='/signup/', id= 'signup')
      input(type = 'text', name='username')
      input(type='password',name='pass')
      input(type='submit', name='submit')

