<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>NewsApp - Signup</title>
	<meta name="description" content="NewsApp">
	<meta name="author" content="SDSLabs">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet/less" href="../public/stylesheets/less/style.less">
	<script src="../public/javascripts/js/libs/less-1.2.1.min.js"></script>
	
	<!-- Use SimpLESS (Win/Linux/Mac) or LESS.app (Mac) to compile your .less files
	to style.css, and replace the 2 lines above by this one:

	<link rel="stylesheet/less" href="less/style.css">
	 -->

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script>window.html5 || document.write('<script src="js/libs/html5.js"><\/script>')</script>
	<![endif]-->
</head>
<div class="container">
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
<div role="main">
	<div class="form">
	<h4>Signup</h4>
	<form action="/signup/" method="post" id="signup">
		<label>Username</label><input type="text" name="username" required>
		<label>Password</label><input type="password" name="pass" required>
		<input type="submit" name="submit">
	</form>
	</div>
</div>

<footer>
<div class="footer-note">
	&copy; WatchOut News Agency
</div>
</footer>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>
<script src="../public/javascripts/js/libs/jquery.sudoSlider.min.js"></script>		
<script src="public/javascritips/js/plugins.js"></script>
<script src="../public/javascripts/js/script.js"></script>
</body>
</html>
